body {
  margin: 0;
  background-color: #F5F5F5;
  font-family: 'Inria', serif;
}


a {
  color: black;
}


.title{ 
  display: flex;
justify-self: flex-start;
padding-right: 30px;
padding-left: 10px;
background-color:#E5C3D1;
clear: both;
display: inline-block;
overflow: hidden;
white-space: nowrap;
font-size: 60vw
}

svg{ 
  float: left;
  width: 60px;
}

.header {
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);
  width: 100%;
  height: 200px;
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  background-color: #E5C3D1;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  border-radius: 6px;
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 10px;
  margin-right: 10px;
  width: 50%;
}

.header li a {
  display: block;
  padding: 20px 10px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #465E64;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: right;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: none;
  padding: 28px 20px;
  position: relative;
  
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
} 



* {
  box-sizing: border-box;
}


h1 {
  margin: 30px 0 30px 0;
  text-align:center;
  color: rgb(81, 43, 81);
}




 .png{ 
 width: 100%;
 max-width: 30%;
}



.grid-container{ 
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-columns: 3fr;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  }


.footer{ 
  margin: 0 auto;
  height: 100px;

}

.icon{ 
  background-color: #E5C3D1;
  margin: 0 auto;
  text-align: center;
  text-align: justify;
  color: white;
  margin-top: 10px;
  height: 50px;
  padding-top: 5px;
  font-size: large;
}



.intro{ 
width: 100%;
background-color: #E5C3D1;
}




.grid-container img:hover{ 
  transform: scale(1.1); 
  transition: 350ms ease;
}

.rectangle1{
  width: 100%;
  background-color: #465E64;
  border-radius: 6px;
  display: grid;
  text-align: CENTER;
  }
  
  .rectangle2{ 
  width: 100%;
  background: #465E64;
  border-radius: 6px;
  text-align: center;
  display: grid;
  }
  
  
  .rectangle3{ 
  width: 100%;
  align-items: center;
  background: #465E64;
  border-radius: 6px;
  text-align: center;
  display: grid;
  }
  
  .plants, 
  .bouquets, 
  .seeds { 
    color: #fff;
    font-family:'Inria', serif; 
  font-size: xx-large;
  margin-top: 10px;
  font-weight: 700;
  }
   
  .small2, 
  .large2{ 
  
    font-family: 'Inria', serif;
    color: #583E61;
    background-color: #E5C3D1;
    border-radius: 6px;
    width: 60%;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: x-large;
  }
  
  .small1,
  .large1, 
  .bag, 
  .multiple{ 
    font-family: 'Inria', serif;
    color: #583E61;
    background-color: #E5C3D1;
    border-radius: 6px;
    width: 60%;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: x-large;
  
  }
  
  
  .houseplant img, 
  .monstera img, 
  .bouquet2 img, 
  .bouquet1 img, 
  .iris img, 
  .flowerpetals img {
  border-radius: 6px;
  margin-top: 10px;
  
  }













.icon{ 
color: black;
align-items: center;
margin-top: 20px;
font-style: italic;
}




@media (min-width: 48em) {
  .header{ 
    height: 200px;
    width: 100%;
    background-color:#E5C3D1;
    margin: 0 auto;
  }

  .title{ 
    display: flex;
  justify-self: flex-start;
  padding-right: 700px;
  padding-left: 75px;
  background-color:#E5C3D1;
  clear: both;
  display: inline-block;
  white-space: nowrap;
  }



  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px; 
  }
  .header .menu {
    clear: none;
    max-height: none;
  display: flex;
  justify-content: space-around;
  padding-right: 600px;
  max-width: 400px;

  }
  .header .menu-icon {
    display: none;
  }

.main{ 
  width: 100%;
}


.grid-container{ 
display: grid;
grid-template-columns: .5fr 1fr .5fr;
grid-template-rows: auto;
gap: 10px;
width: 100%;
margin-right: 5px;
margin-left: 5px;
margin-top: 10px;
padding-left: 10px;
padding-right: 10px;
}

 
 .grid-container img:hover{ 
   transform: scale(1.1); 
   transition: 350ms ease;
 }

.rectangle1{
width: 100%;
background-color: #465E64;
border-radius: 6px;
display: grid;
text-align: CENTER;
}

.rectangle2{ 
width: 100%;
background: #465E64;
border-radius: 6px;
text-align: center;
display: grid;
}


.rectangle3{ 
width: 100%;
align-items: center;
background: #465E64;
border-radius: 6px;
text-align: center;
display: grid;
}

.plants, 
.bouquets, 
.seeds { 
  color: #fff;
  font-family:'Inria', serif; 
font-size: xx-large;
margin-top: 10px;
font-weight: 700;
}
 
.small2, 
.large2{ 

  font-family: 'Inria', serif;
  color: #583E61;
  background-color: #E5C3D1;
  border-radius: 6px;
  width: 60%;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: x-large;
}

.small1,
.large1, 
.bag, 
.multiple{ 
  font-family: 'Inria', serif;
  color: #583E61;
  background-color: #E5C3D1;
  width: 90%;
  height: 40px;
  padding-top: 5px;
  margin-left: 17px;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: x-large;
  text-align: center;
  border-radius: 6px;

}


.houseplant img, 
.monstera img, 
.bouquet2 img, 
.bouquet1 img, 
.iris img, 
.flowerpetals img {
border-radius: 6px;
margin-top: 10px;

}






























